.block-contact .big-block {
  display: flex;
}

.block-contact .big-block .block-item {
  padding: 40px 41px;
  text-align: center;
  width: 33.33%;
  margin: 40px 18px;
  border: 1px solid rgba(153, 153, 153, 0.2);
}

.block-contact .big-block .block-item img {
  margin-bottom: 25px;
}

.main-contact {
  display: flex;
  padding-bottom: 100px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.main-contact .google-map {
  margin-right: 30px;
  width: 50%;
}

.main-contact .form-contact {
  width: 50%;
}

.form-contact h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 19px;
}

.form-contact .input-zone {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.form-contact .input-zone input {
    overflow: visible;
    border: 1px solid rgba(153, 153, 153, 0.2);
    padding: 10px 20px;
    width: 230px;
}

.form-contact textarea {
    width: 100%;
    height: 180px;
    border: 1px solid rgba(153, 153, 153, 0.2);
    margin-bottom: 30px;
}

.form-contact button {
    background: #42BA7C;
    padding: 12px 66px;
    margin-bottom: 16px;
    color:white;
}

.form-contact .social-box {
    display: flex;
}

.form-contact .social-box img {
    margin-right: 12px;
}

.form-contact .social-box a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    
    color: #3B5998;
}






